#
# SAMPLE Springboot application main environment file
#

# Change here for your application name
#	The whole filesystem/dirtree layout should be based on that name
APP_NAME="myapp"

# Change here for the JVM version your application runs with
JAVA_HOME=/etc/alternatives/jre_17_openjdk

# Top level directory definitions for the application
VAR_DIR=/srv/springboot/${APP_NAME}
BIN_DIR=/opt/springboot/${APP_NAME}
LOG_DIR=/var/log/springboot/${APP_NAME}
CNF_DIR=/opt/springboot/${APP_NAME}/conf

# Absolute path to the JAR file for your application
APP_JAR_FILEPATH=${BIN_DIR}/lib/${APP_NAME}.jar

LOADER_PATH=${CNF_DIR}
LOG_PATH=${LOG_DIR}

JAVA_TMPDIR=${VAR_DIR}/temp

# Extra arguments for the JAVA command line
JAVA_EXTRA_ARGS=""

# Relocate Netty lib workdir to the dynlib subdir where SELinux will allow files to be executable
JAVA_EXTRA_ARGS="${JAVA_EXTRA_ARGS} -Dio.netty.native.workdir=${JAVA_TMPDIR}/dynlib"

# Define a Java security file for the appliction specific requirements
JAVA_SECURITY_FILE=${CNF_DIR}}/java.scurity

# Define the main Springboot application configuration file
SPRING_CONFIG_LOCATION=${CNF_DIR}/application.yaml

# Wait no longer that this amount of time to check if the Java process doesn't die prematurely
STARTUP_POSTCHECK_TIMEOUT=10
