[Unit]
Description=Springboot target with all Springboot application services
Documentation=man:springboot_selinux(8)
Documentation=man:springboot-systemd(7)
Documentation=https://github.com/lhqg/selinux_springboot/

Requires=network-online.target time-sync.target
After=network-online.target time-sync.target basic.target

Conflicts=shutdown.target springboot-shutdown.target

[Install]
WantedBy=default.target
