[Unit]
Description=Shutdown target for all Springboot application services
Documentation=man:springboot_selinux(8)
Documentation=man:springboot-systemd(7)
Documentation=https://github.com/lhqg/selinux_springboot/

Before=shutdown.target

Conflicts=springboot.target
DefaultDependencies=no

[Install]
WantedBy=shutdown.target
