[Unit]
Description=Springboot Server - %I
Documentation=man:springboot_selinux(8)
Documentation=man:springboot-systemd(7)
Documentation=https://github.com/lhqg/selinux_springboot/

Requires=network-online.target time-sync.target
After=network-online.target time-sync.target basic.target

Conflicts=springboot-shutdown.target
DefaultDependencies=yes

[Service]
Type=forking

PrivateTmp=true
ProtectSystem=true
PrivateDevices=true

User=springboot
Group=springboot

WorkingDirectory=/opt/springboot/%I
EnvironmentFile=/opt/springboot/%I/env

ExecStartPre=/opt/springboot/bin/springboot-service.sh %I cleanup
ExecStartPre=/opt/springboot/bin/springboot-service.sh %I precheck

ExecStart=/opt/springboot/bin/springboot-service %I start

ExecStartPost=/opt/springboot/bin/springboot-service.sh %I postcheck

ExecStopPost=/opt/springboot/bin/springboot-service.sh %I cleanup

TimeoutStopSec=120s

SuccessExitStatus=1 143

[Install]
WantedBy=springboot.target
