[Unit]
Description=Shutdown target for all Springboot application services

Before=shutdown.target

Conflicts=springboot.target
DefaultDependencies=no

[Install]
WantedBy=shutdown.target
