############################################################################
#
#	Springboot SELinux policymodule
#
#	https://github.com/hubertqc/selinux_springboot
#
#
# Copyright (c) 2022 H. Quarantel-Colombani <hubert@quarantel.name>
# Author: Hubert Quarantel-Colombani <hubert@quarantel.name>
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of version 2 of the GNU General Public License as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
############################################################################

########################################
## <summary>
##      Authorize to connect to Springboot moniroting port
## </summary>
## <param name="domain">
##      <summary>
##      The domain prefix to be authorized to connect (TCP).
##      </summary>
## </param>
#
interface(`springboot_monitor',`
	gen_require(`
		type		$1_t;
		attribute	springboot_monitoring_port_type;
	')
	
	allow	$1_t	springboot_monitoring_port_type:tcp_socket	name_connect;
')

########################################
## <summary>
##      Authorize Springboot application to connect to remote port
## </summary>
## <param name="service">
##      <summary>
##      The service name prefix to allow connection to (TCP).
##	e.g.: ldap
##      </summary>
## </param>
#
interface(`springboot_allow_connectto',`
	gen_require(`
		type		springboot_t;
		type		$1_port_t;
	')
	
	allow	springboot_t	$1_port_t:tcp_socket	name_connect;
')

########################################
## <summary>
##      Add service to services Springboot application
##	is allowed to connnect to
## </summary>
## <param name="service">
##      <summary>
##      The service name prefix to allow connection to (TCP).
##	e.g.: ldap
##      </summary>
## </param>
#
interface(`springboot_allow_consumed_service',`
	gen_require(`
		type		$1_port_t;
		attribute	springboot_consumed_svc_type;
	')
	
	typeattribute	$1_port_t	springboot_consumed_svc_type;
')

########################################
## <summary>
##      Grant permissions to deploy Springboot application
##  files (create/read/delete/write) and to manage the Springboot services.
## </summary>
## <param name="service">
##      <summary>
##      The domain name prefix to grant the deployment permissions to.
##	e.g.: ansible
##      </summary>
## </param>
#
interface(`springboot_deploy_domain',`
	gen_require(`
		type		$1_t;
		attribute	springboot_deploy_domain;
	')
	
	typeattribute	$1_t	springboot_deploy_domain;
')

