###################################################################################
#
# Springboot application main environment file for application <%= @app_name %>
#
#
# WARNING: This file is deployed by Ansible
#          Manual changes are very likely to be reverted soon
#
###################################################################################

APP_NAME="{{ sb_appname }}"

# Location to Java specific version for this Springboot application
JAVA_HOME=/opt/springboot/${APP_NAME}/java_home

# Top level directory definitions for the application
VAR_DIR=/srv/springboot/${APP_NAME}
BIN_DIR=/opt/springboot/${APP_NAME}
LOG_DIR=/var/log/springboot/${APP_NAME}
CNF_DIR=/opt/springboot/${APP_NAME}/conf

# Absolute path to the JAR file for application
APP_JAR_FILEPATH="{{ sb_jar_location }}/{{ sb_appjarname }}"

LOADER_PATH=${CNF_DIR}
LOG_PATH=${LOG_DIR}

JAVA_TMPDIR=${VAR_DIR}/temp

# Memory options for the JVM
JVM_MEM_OPTS="-Xmx{{ sb_memory_max_heapsize_mb }}m -Xms{{ sb_memory_min_heapsize }}m -Xss{{ sb_memory_stacksize_kb }}k"
{% if sb_memory_hugepages -%}
JVM_MEM_OPTS="${JVM_MEM_OPTS} -XX:+UseLargePages"
{% endif %}

# Extra arguments for the JAVA command line
{% if sb_enable_dynlibs -%}
JAVA_EXTRA_ARGS="{{ sb_java_extra_args }} -D{{ sb_dynlib_dir_property }}={{ sb_srv_dir }}/dynlib"
{% else -%}
JAVA_EXTRA_ARGS="{{ sb_java_extra_args }}"
{% endif %}

# Define a Java security file for the appliction specific requirements
JAVA_SECURITY_FILE=${CNF_DIR}}/java.security

# Define the main Springboot application configuration file
SPRING_CONFIG_LOCATION="{{ sb_spring_config_location }}"

# Wait no longer that this amount of time to check if the Java process doesn't die prematurely
STARTUP_POSTCHECK_TIMEOUT="{{ sb_startup_timeout_sec }}"

{% if i18n_lang -%}
# Set then i18n locale/language environment
LANG="{{ sb_i18n_lang }}"
{% endif %}


